video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.App {
    background-color: rgba(255, 255, 255, 0.5);
}
.container {
    display: flex;
    justify-content: center;
}

.search {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    margin-left: 0px;
    box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}
.card {
    display: flex;
    flex-direction: column;
  }
.list {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
  }
  .check {
    width: 26px;
  }
  .foodimg {
    padding: 15px;
    background: #ddd6e8;
    border: 1px solid gray;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1, h2, ul, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    align-self: center;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }
  li {
    display: block;
    padding: .4em .4em .4em .4em;
    margin: .5em .5em .5em .5em;
    background: #ddd6e8;
    align-self: center;
  }
  li:hover {
    background: #dcdde1;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
  button {
    display: flex;
    
    background: #dbecc4;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  